// project global 

$color: red;
// menu
$base-menu-width: 260px;
$base-menu-background: #001529;
$base-menu-min-width: 50px;
// tabbar
$base-tabbar-height: 50px;
// logo
$base-menu-logo-height: 50px;
// logo fontsize
$base-logo-title-fontSize: 20px;